.game-gui div.col.s4 {
  height: auto;
}

.game-gui {
  margin-top: 5rem;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-score {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
}
