.game-gui div.col.s4 {
  height: auto;
}

/*.red #1.active {
  color: accent-1;
}

.blue #2.active {
  color: accent-1;
}
.green #3.active {
  color: accent-1;
}
.yellow #4.active {
  color: accent-1;
}
.orange #5.active {
  color: accent-1;
}*/
